In [1]:
import pandas as pd
data = [1, 2, 3, 4]

index = ['Linha' + str(i) for i in range(4)]

In [2]:
s1  = pd.Series(data, index)

In [9]:
data = {'Linha' + str(i): i + 1 for i in range(4)}
s2 = pd.Series(data)

# DataFrame

In [17]:

data = [[1,2,3],[4,5,6],[7,8,9]]

In [33]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [35]:
dados = {'A': {'X': 1, 'Y': 3, 'Z': 5}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A    B
X  1  2.0
Y  3  4.0
Z  5  NaN