# Relatório de Análise I

## Importando a Base de Dados

In [1]:
import pandas as pd

In [2]:
# importando
dados = pd.read_csv('dados/aluguel.csv', sep=';')

In [14]:
print(f'A base de dados apresenta {dados.shape[0]} linhas')

A base de dados apresenta 32960 linhas

# Informações Gerais sobre a Base de Dados

In [35]:
tipos_de_dados = pd.DataFrame(dados.dtypes,columns = ['Tipos de Dados'],)

In [38]:
tipos_de_dados.columns.name = 'Variaveis'

In [39]:
tipos_de_dados

Variaveis Tipos de Dados
Aluno             object
Idade              int64
Nota             float64
Aprovado            bool

In [40]:
import pandas as pd
data = [['Fulano', 12, 7.0, True],
        ['Sicrano', 15, 3.5, False], 
        ['Beltrano', 18, 9.3, True]]
dados = pd.DataFrame(data, 
        columns = ['Aluno', 'Idade', 'Nota', 'Aprovado'])

colunas = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])
colunas.columns

Index(['Tipos de Dados'], dtype='object')

In [41]:
colunas.columns.name = 'V|ariáveis'

In [42]:
colunas

V|ariáveis Tipos de Dados
Aluno              object
Idade               int64
Nota              float64
Aprovado             bool