In [1]:
import pandas as pd

In [34]:
data = [['Ary','M',21],['Cátia','F', 19],['Carlos', 'M', 50],
       ['Beto', 'M',29],['Bruna','F',31],['Ana', 'F', 42]]
df_A = pd.DataFrame(data, columns=['Nome', 'Sexo', 'Idade'])
df_A.columns.name ='Indice'

In [42]:
df_B = df_A.sort_values(by=['Sexo', 'Nome'])

In [43]:
df_B

Indice    Nome Sexo  Idade
5          Ana    F     42
4        Bruna    F     31
1        Cátia    F     19
0          Ary    M     21
3         Beto    M     29
2       Carlos    M     50