# Relatório de Análise V

## Tratamento de Dados Faltantes

In [43]:
import pandas as pd
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

selecao = dados.Valor.isnull()
dados[selecao]

# Limpeza pela coluna Valor
A = dados.shape[0]
dados.dropna(subset = ['Valor'], inplace = True)
B = dados.shape[0]

In [44]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22571 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22571 non-null  object
 1   Bairro      22571 non-null  object
 2   Quartos     22571 non-null  int64
 3   Vagas       22571 non-null  int64
 4   Suites      22571 non-null  int64
 5   Area        22571 non-null  int64
 6   Valor       22571 non-null  float64
 7   Condominio  20758 non-null  float64
 8   IPTU        15791 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

# Eliminar Apartamento com condomínio zerado

In [46]:
selecao = (dados['Condominio'].isnull()) & (dados['Tipo'] == 'Apartamento')

A = dados.shape[0]
dados = dados[~selecao]
B = dados.shape[0]
A - B

745

In [48]:
dados = dados.fillna({'Condominio': 0, 'IPTU': 0})

In [50]:
dados.to_csv('dados/aluguel_residencial.csv', sep = ';',index = False)

In [51]:
imoveis = pd.DataFrame([['Apartamento', None, 970, 68], 
                        ['Apartamento', 2000, 878, 112], 
                        ['Casa', 5000, None, 500], 
                        ['Apartamento', None, 1010, 170], 
                        ['Apartamento', 1500, 850, None], 
                        ['Casa', None, None, None], 
                        ['Apartamento', 2000, 878, None], 
                        ['Apartamento', 1550, None, 228], 
                        ['Apartamento', 2500, 880, 195]], 
                        columns = ['Tipo', 'Valor', 'Condominio', 'IPTU'])

In [52]:
imoveis

          Tipo   Valor  Condominio   IPTU
0  Apartamento     NaN       970.0   68.0
1  Apartamento  2000.0       878.0  112.0
2         Casa  5000.0         NaN  500.0
3  Apartamento     NaN      1010.0  170.0
4  Apartamento  1500.0       850.0    NaN
5         Casa     NaN         NaN    NaN
6  Apartamento  2000.0       878.0    NaN
7  Apartamento  1550.0         NaN  228.0
8  Apartamento  2500.0       880.0  195.0

In [54]:
selecao = (imoveis['Tipo'] == 'Apartamento') & (imoveis['Condominio'].isnull())
imoveis = imoveis[selecao]
imoveis

          Tipo   Valor  Condominio   IPTU
7  Apartamento  1550.0         NaN  228.0